.container {
    position: fixed;
    top: 10px;
    right: 15px;
    display: flex;
    flex-direction: column;

    // outline: auto;
    // outline-style: groove;

    width: fit-content;
    height: fit-content;
    padding: 10px;
    
    background-color: darkred;
    border: 5px black solid;
    border-radius: 20px;
     a {
        text-align: center;
        color: white;
        font-size: large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bolder; 
    }
}