
// *,
// ::after,
// ::before{
//     margin: 0 0;
//     padding: 0 0;
// }

body {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    margin: 0;
    margin-top: 80px;
    background-image: url("graphics/coding.jpg");
    background-repeat: no-repeat;
    background-size: 250vh;
    background-position-x: center;
    background-position-y: 60px;
    // margin-left: 0px;
    // margin-right: 0px;

}

a {
    text-decoration: none;
}

h1 {
    white-space: nowrap;
}

// p {
//     max-width: 900px;
// }