
// *,
// ::after,
// ::before{
//     margin: 0 0;
//     padding: 0 0;
// }

body {
    background-color: darkslategray;
    margin: 0;
    margin-top: 80px;
    // padding-left: 0%;
    // padding-right: 0%;
    // background-origin: content-box;
    // background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ab/Iceberg_in_the_Arctic_with_its_underside_exposed%2C_brightened_underwater.jpg");
    background-image: url("graphics/iceberg.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-x: center;
    background-position-y: 60px;
    margin-left: 0px;
    margin-right: 0px;

}

a {
    text-decoration: none;
}

h1 {
    white-space: nowrap;
}

// p {
//     max-width: 900px;
// }